<!DOCTYPE html>
<html lang="en">
	<head>
		<title>email validation</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        
	</head>
	<body>
		<div id="wrapper">
            
            <div id="hero">
                <img src="/static/community.png" id="image">
            </div>

            <div id="flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <p id="red">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

            </div>

            

            <div id="registration">
                <h1>Register here!</h1>
            
                <form action= "/register" method = "post">
                    <p>First Name: </p><input type="text" class = "entry" name="first_name" size = "50" value={{first_name}}>
                    <p>Last Name: </p><input type="text" class = "entry" name="last_name" size = "50" value={{last_name}}>
                    <p>Email: </p><input type="text" class="entry" name="email" size = "50" value={{email}}>
                    <p>Password: </p><input type="password" class="entry" name="password" size = "50">
                    <p>Password: </p><input type="password" class="entry" name="password2" size = "50">
                    <input type="submit" id="btn1" value = "Register"/>
                </form>
            </div>
            
            <div id="login">
                <h1> Log in</h1>
                <form action = "/login" method = "post" id="login">
                    <p>Email: </p><input type="text" class="entry" name="email" size = "50"/>
                    <p>Password: </p><input type="password" class="entry" name = "password" size="50"/>
                    <input type="submit" id="btn1" value = "Log in"/>
                </form>
            </div>

        </div><!--end of wrapper-->
	</body>
</html>
